<h1>Update your Profile</h1>

 <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages' %>
            <div class="form-group">
                <%= f.text_field :first_name, :placeholder => "First name" %><br />
            </div>
            <div class="form-group">
                <%= f.text_field :last_name, :placeholder => "Last name" %><br />
            </div>
            <div class="form-group">
                <%= f.email_field :email, :placeholder => "Email" %><br />
            </div>
            <div class="form-group">
                <%= f.phone_field :phone, :placeholder => "Phone" %><br />
            </div>
            <div class="form-group">
                <%= f.text_field :address, :placeholder => "Street address" %><br />
            </div>
            <div class="form-group">
                <%= f.text_field :city, :placeholder => "City" %><br />
            </div>
            <div class="form-group">
                <%= f.text_field :zip, :placeholder => "Zip code" %><br />
            </div>
            <div class="form-group">
                <%= f.password_field :password, :placeholder => "Password" %><br />
            </div>
            <div class="form-group">
                <%= f.password_field :password_confirmation, :placeholder => "Confirm password" %><br />
            </div>

            <br>
              <%= f.submit "Save Changes" %>

<% end %>