<div class="profile">
  <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
<br>
<br>
  <h1><%= @user.first_name %>'s Profile</h1>
  <hr>

        <h2>Name: <%= @user.first_name %>
        <%= @user.last_name %></h2>
        <h2>Year: <%= @user.year %>
        <h2>Email: <%= @user.email %></h2>
        <h2>Phone: <%= @user.phone %></h2>
        <h2>Address: <%= @user.address %></h2>
        <h2><%= @user.city %>, <%= @user.zip %></h2>


  </br>
  <%= button_to "Edit Profile", edit_user_path(current_user), method: :get %>

</div>

<div id="book">
  <a href="https://calendar.google.com/calendar/selfsched?sstoken=UUtnalJQZUVlVXR6fGRlZmF1bHR8MTc4NzJjMzc5OTg1ZDJjMTFmZTZiOTU0ZTI4NDEzODY" target="_blank"><h1>Book Now!</h1></a>
</div>