<div id="reviews">
  <p id="notice"><%= notice %></p>

  <h2>Reviews</h2>

  <table>
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @testimonials.each do |testimonial| %>
        <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
          <td><%= testimonial.feedback %></td>
          <td class="name"><%= testimonial.name %></td>


        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to 'Add Feedback!', new_testimonial_path, class: "button" %>
<br>
<br>
<p><%= link_to "Back", current_user || root_url %></p>

