<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || "Stephen's Tutoring" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="header">
    <div id="title">Stephen Ramon's Tutoring Services</div>
    <div id="subtitle">for students in Park Cities and surrouding areas</div>
  </div>
 <!--  Left navbar -->
  <div id="navbar">
    <ul>
      <li><%= link_to "Home", root_path %>
      <li><%= link_to "How it Works", howitworks_path %>
      <li><%= link_to "Contact", contact_path %>
      <li><%= link_to "Subjects", subjects_path %>
      <li><%= link_to "About Me", about_path %>
      <li><%= link_to "Testimonials", testimonials_path %>
    </ul>
  </div>
<!-- Right navbar -->
<% if signed_in? %>
  <div id="r-navbar">
    <ul>
      <li><%= link_to "My Profile", user_path(current_user) %></li>
      <li><%= link_to "Sign Out", signout_path, method: :delete %></li>
    </ul>
  </div>
<% end %>





  <div id="content">
    <%= yield %>
  </div>



</body>
</html>
